{% set bgClass = module.hero_bg_color|split('|') %}
  {% set bgClass2 = module.transition_bg_color|split('|') %}
  {% require_css %}
  <style>
    .hero::after {
    background: {{ bgClass2[1] }} !important;
    }
  </style>
  {% end_require_css %}
  <header class="hero {{bgClass[0]}}{% if module.hide_lines %} no-lines{% endif %}" style="color: {{bgClass[1]}}; {% if bgClass[0] == "full_bleed_image" %}background-image: linear-gradient(to right, rgba({{ module.background_image_tint.color|convert_rgb }}, {{ module.background_image_tint.opacity/100 }}), rgba({{ module.background_image_tint.color|convert_rgb }}, {{ module.background_image_tint.opacity/100 }})), url('{{ module.hero_image.src }}');{% endif %}">

    <div class="inner">
      <div class="unit size1of2@med hero__text_wrapper">
        <div class="hero__text">
          <div class="sectionName">{{ module.title }}</div>
          <h1>{{ module.sub_header }}</h1>
          <p>{{module.summary}}</p>
        </div>
      </div>
      <div class="unit size1of2@med">
        <div class="hero__image">
          {% if bgClass[0] != "full_bleed_image" %}
          <img src="{{ module.hero_image.src }}" alt="{{module.hero_image.alt}}">
          {% endif %}
          {# <svg class="line hero__line4"><use xlink:href="#line-down" /></svg> #}
        </div>
      </div>
    </div>
    {# <svg class="hero__more"><use xlink:href="#down-arrow" /></svg> #}
    <svg class="line hero__line1"><use xlink:href="#line-down" /></svg>
    <svg class="line hero__line2"><use xlink:href="#line-down" /></svg>
    {# <svg class="line hero__line3"><use xlink:href="#line-down" /></svg> #}
    {# <svg class="line hero__line4"><use xlink:href="#line-down" /></svg> #}
  </header>