.nav-primary {
  background: transparent;
  height: auto;
  padding: 2rem 0;
  position: absolute;
  left: 0;
  right: 0;
}
.nav-primary > .inner {
  height: 100%;
  align-items: center;
}
.nav-primary > .inner > .unit {
  display: flex;
}
.nav-primary .nav-logo {
  position: relative;
  transform: none;
  left: auto;
  top: auto;
  margin-right: 2rem;
}
.nav-primary .nav-logo svg {
  fill: #fff;
}
.nav-primary .nav-primary__items {
  justify-content: flex-start;
}
.nav-primary .nav-primary__items li {
  margin-right: 2rem;
}
.nav-primary .nav-primary__items li a:hover, .nav-primary .nav-primary__items li a.active {
  color: #fff;
}
.nav-primary .nav-primary__items li a::after {
  background-color: #fff;
}
.nav-primary .nav-primary__items li a {
  font-size: 0.7em;
}
html.-overlay-active .nav-primary .nav-logo svg {
  fill: #fff;
}
html.-overlay-active .nav-primary .nav-primary__items {
  display: none;
}
.nav-primary.theme-dark .nav-primary__items li a {
  color: #000;
}
.nav-primary.theme-dark .nav-primary__items li a:hover, .nav-primary.theme-dark .nav-primary__items li a.active {
  color: #000;
}
.nav-primary.theme-dark .nav-primary__items li a::after {
  background-color: #000;
}
.nav-primary.theme-dark .nav-logo svg {
  fill: #000;
}
.nav-primary.theme-overimage {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
html.-overlay-active .nav-primary.theme-overimage {
  background: none;
}
.nav-primary.theme-legacy {
  position: relative;
  left: auto;
}
.nav-primary.theme-legacy .nav-primary__items li a:hover, .nav-primary.theme-legacy .nav-primary__items li a.active {
  color: #f16345;
}
.nav-primary.theme-legacy .nav-primary__items li a::after {
  background-color: #f16345;
}

@media screen and (max-width: 920px) {
  .nav-primary-condensed {
    background: transparent;
    position: absolute;
    width: 100%;
    padding: 0 1.4rem;
    height: 6.5rem;
    justify-content: flex-end;
  }
  .nav-primary-condensed .nav-logo {
    left: 1.4rem;
    transform: none;
  }
  .nav-primary-condensed.theme-dark svg {
    fill: #000;
  }
  .nav-primary-condensed.theme-dark .nav-primary-condensed__toggle:not(.-active):hover svg {
    fill: #000;
  }
  .nav-primary-condensed.theme-overimage {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  }
  html.-overlay-active .nav-primary-condensed.theme-overimage {
    background: none;
  }
  .nav-primary-condensed.theme-legacy {
    position: relative;
  }
  .nav-primary-condensed.theme-legacy .nav-primary-condensed__toggle:not(.-active):hover svg {
    fill: #f16345;
  }
  .nav-primary-condensed .nav-primary-condensed__toggle:hover svg {
    fill: #fff;
  }
  html.-overlay-active .nav-primary-condensed svg {
    fill: #fff;
  }
  html.-overlay-active .nav-primary-condensed .-active svg {
    fill: #f16345;
  }
}
@media screen and (min-width: 920px) {
  .nav-primary-condensed .nav-logo {
    display: none;
  }
}
.scroll-lock {
  position: relative;
}
html.-overlay-active .scroll-lock {
  overflow-y: scroll;
}

.search-overlay .search-overlay-inner {
  padding: 1.5rem;
  max-width: 64.5rem;
  flex-grow: 1;
}
@media screen and (max-width: 920px) {
  .search-overlay .search-overlay-inner {
    width: auto;
  }
}
.search-overlay .search-overlay-inner .hs-search-field {
  padding: 0;
}
.search-overlay .search-overlay-inner .hs-search-field__suggestions {
  margin: 2rem 0 4rem;
}
.search-overlay .search-overlay-inner .hs-search-field__suggestions .hs-search-highlight {
  font-weight: 700;
  background: rgba(255, 255, 255, 0.05);
}
.search-overlay .search-overlay-inner .search-overlay__form {
  border-bottom: 2px solid #fff;
  max-width: none;
}
.search-overlay .search-overlay-inner .search-overlay__form input[type=search] {
  border: 0 none;
  padding: 1rem 0 !important;
}
.search-overlay .search-overlay-inner .search-overlay__form button {
  border: 0 none;
  padding: 1rem 0;
  height: auto;
  border-radius: 0;
  flex-basis: 2rem;
}
.search-overlay .search-overlay-inner .search-overlay__form button svg {
  width: 100%;
}
@media screen and (max-width: 660px) {
  .search-overlay .search-overlay-inner .search-overlay__form {
    flex-direction: row;
    align-items: center;
  }
  .search-overlay .search-overlay-inner .search-overlay__form button {
    margin: 0 0 0 1.5rem;
  }
  .search-overlay .search-overlay-inner .search-overlay__form button.submit {
    flex-basis: 1rem;
  }
}
.search-overlay .search-overlay-inner .search-subhead {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
}
.search-overlay .search-overlay-inner .search-overlay-tags {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.search-overlay .search-overlay-inner .search-overlay-tags li {
  flex-shrink: 0;
}
.search-overlay .search-overlay-inner .search-overlay-tags li:not(:last-child) {
  margin: 0 1em 1em 0;
}
.search-overlay .search-overlay-inner .search-overlay-tags li a {
  font-size: 0.85em;
  display: block;
  padding: 0.3em 1em 0.5em;
  border: 2px solid #f16345;
  line-height: 1;
  text-decoration: none;
}
.search-overlay .search-overlay-inner .search-overlay-tags li a:hover, .search-overlay .search-overlay-inner .search-overlay-tags li a:focus {
  color: #fff;
  border-color: #fff;
}
