@mixin theme-overimage {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.nav-primary {
	background: transparent;
	height: auto;
	padding: 2rem 0;
	position: absolute;
	left: 56px;
	right: 0;
	> .inner {
		height: 100%;
		align-items: center;
		> .unit {
			display: flex;
		}
	}
	.nav-logo {
		position: relative;
		transform: none;
		left: auto;
		top: auto;
		margin-right: 2rem;
		svg {
			fill: #fff;
		}
	}
	.nav-primary__items {
		justify-content: flex-start;
		li {
			margin-right: 2rem;
			a {
				&:hover,
				&.active {
					color: #fff;
				}
				&::after {
					background-color: #fff;
				}
			}
		}
	}

	.nav-primary__items {
		li {
			a {
				font-size: 0.7em;
			}
		}
	}

	body.-overlay-active & {
		.nav-logo svg {
			fill: #fff;
		}
		.nav-primary__items {
			display: none;
		}
	}
	// desktop menu themes
	&.theme-dark {
		.nav-primary__items li a {
			color: #000;
			&:hover,
			&.active {
				color: #000;
			}
			&::after {
				background-color: #000;
			}
		}
		.nav-logo svg {
			fill: #000;
		}
	}
	&.theme-overimage {
		@include theme-overimage;
	}
	&.theme-legacy {
		position: relative;
		left: auto;
		.nav-primary__items {
			li {
				a {
					&:hover,
					&.active {
						color: #f16345;
					}
					&::after {
						background-color: #f16345;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 920px) {
	.nav-primary-condensed {
		background: transparent;
		position: absolute;
		width: 100%;
		padding: 0 1.4rem;
		height: 6.5rem;
		justify-content: flex-end;
		.nav-logo {
			left: 1.4rem;
			transform: none;
		}
		&.theme-dark {
			svg {
				fill: #000;
			}
			.nav-primary-condensed__toggle:not(.-active) {
				&:hover svg {
					fill: #000;
				}
			}
		}
		&.theme-overimage {
			@include theme-overimage;
		}
		&.theme-legacy {
			position: relative;
			.nav-primary-condensed__toggle:not(.-active) {
				&:hover svg {
					fill: #f16345;
				}
			}
		}
		.nav-primary-condensed__toggle {
			&:hover svg {
				fill: #fff;
			}
		}
		body.-overlay-active & {
			svg {
				fill: #fff;
			}
			.-active svg {
				fill: #f16345;
			}
		}
	}
}

@media screen and (min-width: 920px) {
	.nav-primary-condensed {
		.nav-logo {
			display: none;
		}
	}
}
body.-overlay-active {
	div.scroll-lock {
		overflow-y: scroll;
	}
}
