@mixin theme-overimage {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

	body.-overlay-active & {
		background: none;
	}
}

.nav-primary {
	background: transparent;
	height: auto;
	padding: 2rem 0;
	position: absolute;
	left: 56px;
	right: 0;
	> .inner {
		height: 100%;
		align-items: center;
		> .unit {
			display: flex;
		}
	}
	.nav-logo {
		position: relative;
		transform: none;
		left: auto;
		top: auto;
		margin-right: 2rem;
		svg {
			fill: #fff;
		}
	}
	.nav-primary__items {
		justify-content: flex-start;
		li {
			margin-right: 2rem;
			a {
				&:hover,
				&.active {
					color: #fff;
				}
				&::after {
					background-color: #fff;
				}
			}
		}
	}

	.nav-primary__items {
		li {
			a {
				font-size: 0.7em;
			}
		}
	}

	body.-overlay-active & {
		.nav-logo svg {
			fill: #fff;
		}
		.nav-primary__items {
			display: none;
		}
	}
	// desktop menu themes
	&.theme-dark {
		.nav-primary__items li a {
			color: #000;
			&:hover,
			&.active {
				color: #000;
			}
			&::after {
				background-color: #000;
			}
		}
		.nav-logo svg {
			fill: #000;
		}
	}
	&.theme-overimage {
		@include theme-overimage;
	}
	&.theme-legacy {
		position: relative;
		left: auto;
		.nav-primary__items {
			li {
				a {
					&:hover,
					&.active {
						color: #f16345;
					}
					&::after {
						background-color: #f16345;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 920px) {
	.nav-primary-condensed {
		background: transparent;
		position: absolute;
		width: 100%;
		padding: 0 1.4rem;
		height: 6.5rem;
		justify-content: flex-end;
		.nav-logo {
			left: 1.4rem;
			transform: none;
		}
		&.theme-dark {
			svg {
				fill: #000;
			}
			.nav-primary-condensed__toggle:not(.-active) {
				&:hover svg {
					fill: #000;
				}
			}
		}
		&.theme-overimage {
			@include theme-overimage;
		}
		&.theme-legacy {
			position: relative;
			.nav-primary-condensed__toggle:not(.-active) {
				&:hover svg {
					fill: #f16345;
				}
			}
		}
		.nav-primary-condensed__toggle {
			&:hover svg {
				fill: #fff;
			}
		}
		body.-overlay-active & {
			svg {
				fill: #fff;
			}
			.-active svg {
				fill: #f16345;
			}
		}
	}
}

@media screen and (min-width: 920px) {
	.nav-primary-condensed {
		.nav-logo {
			display: none;
		}
	}
}
body.-overlay-active {
	div.scroll-lock {
		overflow-y: scroll;
	}
}

.search-overlay {
	.search-overlay-inner {
		padding: 1.5rem;
		max-width: calc(61.5rem + 1.5rem * 2);
		flex-grow: 1;

		@media screen and (max-width: 920px) {
			width: auto;
		}

		.hs-search-field {
			padding: 0;
		}
		.hs-search-field__suggestions {
			margin: 2rem 0 4rem;
			.hs-search-highlight {
				font-weight: 700;
				background: rgba(255, 255, 255, 0.05);
			}
		}
		.search-overlay__form {
			border-bottom: 2px solid #fff;
			max-width: none;

			input[type="search"] {
				border: 0 none;
				padding: 1rem 0 !important;
			}
			button {
				border: 0 none;
				padding: 1rem 0;
				height: auto;
				border-radius: 0;
				flex-basis: 2rem;
				svg {
					width: 100%;
				}
			}
			@media screen and (max-width: 660px) {
				flex-direction: row;
				align-items: center;
				button {
					margin: 0 0 0 1.5rem;
					&.submit {
						flex-basis: 1rem;
					}
				}
			}
		}
		.search-subhead {
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.85em;
		}
		.search-overlay-tags {
			list-style: none;
			display: flex;
			margin: 0;
			padding: 0;
			flex-wrap: wrap;
			li {
				flex-shrink: 0;
				&:not(:last-child) {
					margin: 0 1em 1em 0;
				}
				a {
					font-size: 0.85em;
					display: block;
					padding: 0.3em 1em 0.5em;
					border: 2px solid #f16345;
					line-height: 1;
					text-decoration: none;
					&:hover,
					&:focus {
						color: #fff;
						border-color: #fff;
					}
				}
			}
		}
	}
}
