<!--
  templateType: "page"
  isAvailableForNewContent: true
-->
<!DOCTYPE html>
<html lang="en-us">
	{% include "siteroot/Views/WebsitePages/Diagram/PagePartials/header_template_partial.html" %} {% boolean "case_study_toggle" label="Case Study
	Detail Page Toggle" value=False, export_to_template_context=True %}
	<body>

		{% include "siteroot/Views/WebsitePages/Diagram/PagePartials/icon_defs_partial.html" %} 
		{% include "siteroot/Views/WebsitePages/Diagram/PagePartials/nav_primary_2022.html" %}
		<main>
			{% if widget_data.case_study_toggle.value %} 
				{% module "case_study_hero" path="/siteroot/core/components/case-study/Case Study Hero" label="Case
			Study Hero" no_wrapper=True%} 
			{% endif %} 
			{% widget_container "content_area" label="Content Area" %} 
			{% end_widget_container %} 
			{% if widget_data.case_study_toggle.value %}
			<section class="casestudy-nav-bottom">
				{% module "case_study_menu" path="/siteroot/core/components/case-study/Case Study Navigation" label="Case Study Menu" no_wrapper=True%}
			</section>
			<!-- current path: {{ content.absolute_url }} -->
				{% for row in hubdb_table_rows(1041102, "case_study_page="~content.absolute_url) %}
				<div class="related-tags">
					<span>See more:</span>
					<ul class="tag-list">
						{% for tag in row.tags %}
						<li><a class="tag" href="/work/case-studies?tag={{ tag.name }}#tag_anchor">{{ tag.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
		 	{% endif %}
		</main>
		{% module "module_1554502162189222" path='/siteroot/core/components/global/Footer' no_wrapper=True, overrideable=False %} {% include
		"siteroot/Views/WebsitePages/Diagram/PagePartials/footer_scripts_partial.html" %}

		{{ require_css(get_asset_url('/siteroot/core/css/components/nav-primary-2022.css')) }}

	</body>
</html>
